{% extends 'catalog/base.html' %}
{% load i18n %}

{% block meta_info %}
    <meta name="description" content="{{ pages_meta_description }}">
    <meta name="keywords" content="{{ pages_meta_keywords }}">
    <title>{% trans 'About Us' %} | {{ pages_title }}</title>
{% endblock %}

{% block nav_link_status-about %}
    class="active"
{% endblock %}

{% block main %}
 <div class="container down">
    <div class="bg">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-us-content">
                    <h2 class="title text-center">{% trans 'About Us' %}</h2>
                    {{ about_us_content }}
                </div>
            </div>
        </div>
    </div>
 </div>
{% endblock %}
