{% extends 'catalog/base.html' %}

{% block main %}
 <div class="container">
    <div class="bg">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-us-content">
                    <h2 class="title text-center">About <strong>Us</strong></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur assumenda, deserunt
                        dicta doloremque earum ex fugit laudantium libero magni maxime minus nam nesciunt provident,
                        reiciendis rem temporibus vel!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur assumenda, deserunt
                        dicta doloremque earum ex fugit laudantium libero magni maxime minus nam nesciunt provident,
                        reiciendis rem temporibus vel!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur assumenda, deserunt
                        dicta doloremque earum ex fugit laudantium libero magni maxime minus nam nesciunt provident,
                        reiciendis rem temporibus vel!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur assumenda, deserunt
                        dicta doloremque earum ex fugit laudantium libero magni maxime minus nam nesciunt provident,
                        reiciendis rem temporibus vel!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam aspernatur assumenda, deserunt
                        dicta doloremque earum ex fugit laudantium libero magni maxime minus nam nesciunt provident,
                        reiciendis rem temporibus vel!</p>
                </div>
            </div>
        </div>
    </div>
 </div>
{% endblock %}
