{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block meta_info %}
    {% endblock %}
	<link rel="shortcut icon" type="image/x-icon" href="/static/catalog/images/favicon.ico">
    <link href="/static/catalog/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/catalog/css/font-awesome.min.css" rel="stylesheet">
	<link href="/static/catalog/css/main.css" rel="stylesheet">
	<link href="/static/catalog/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/static/catalog/js/html5shiv.js"></script>
    <script src="/static/catalog/js/respond.min.js"></script>
    <![endif]-->
    {% block styles %}
    {% endblock %}
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> {{ phone_number }}</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> {{ email }}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->

		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="pull-left">
							<a href="{% url 'catalog:index_page' %}">
								<img src="/static/catalog/images/logo.png" alt="">
							</a>
						</div>
					</div>
                    <div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								{% for url, lang in available_languages %}
									<li><a href="{{ url }}">{{ lang }}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->

		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li>
									<a {% block current_page-index %}{% endblock %}
                                       href="{% url 'catalog:index_page' %}">{% trans 'Home' %}</a>
                                </li>
                                <li>
                                    <a {% block current_page-filter %}{% endblock %}
                                       href="{% url 'catalog:filter_clothes' %}">{% trans 'Products' %}</a>
                                </li>
								<li>
                                    <a {% block current_page-about %}{% endblock %}
                                       href="{% url 'catalog:about_us' %}">{% trans 'About Us' %}</a>
                                </li>
								<li>
                                    <a {% block current_page-contact %}{% endblock %}
                                       href="{% url 'catalog:contact' %}">{% trans 'Contact' %}</a>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->

    {% block main %}
    {% endblock %}

	<footer id="footer"><!--Footer-->
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">{{ footer_copyright }}</p>
				</div>
			</div>
		</div>
	</footer><!--/Footer-->

    <script src="/static/catalog/js/jquery.js"></script>
	<script src="/static/catalog/js/bootstrap.min.js"></script>
    <script src="/static/catalog/js/main.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
