{% load i18n %}

{% for clothing in clothes %}
    <div class="col-sm-4 col-xs-6">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="{{ clothing.photo.thumbnail.url }}" alt="" />
                    <p>
                        <a rel="prettyPhoto" href="{{ clothing.photo.url }}" title="{{ clothing.title }}">
                            {{ clothing.title }}
                        </a>
                    </p>
                </div>
                <div class="product-overlay">
                    <div class="overlay-content">
                        <p>
                            {% if clothing.description %}
                                {{ clothing.description }}<br><br>
                            {% endif %}
                            {% trans 'Gender/Age' %}: {{ clothing.get_gender_display }}<br>
                            {% trans 'Season' %}: {{ clothing.get_season_display }}<br>
                            {% trans 'Category' %}: {{ clothing.category }}<br>
                            <hr>
                            <a rel="prettyPhoto" href="{{ clothing.photo.url }}" title="{{ clothing.title }}">
                                {{ clothing.title }}
                            </a>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
