{% extends 'catalog/base.html' %}
{% load i18n %}

{% block meta_info %}
    <meta name="description" content="{{ pages_meta_description }}">
    <meta name="keywords" content="{{ pages_meta_keywords }}">
    <title>{% trans 'Contact' %} | {{ pages_title }}</title>
{% endblock %}

{% block main %}
<div class="container">
    <div class="bg">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-us-content">
                    <h2 class="title text-center">{% trans 'Contact Us' %}</h2>
                    <address>
                        <p>Address: {{ address }}</p>
                        <p>Phone: {{ phone_number }}</p>
                        <p>Email: {{ email }}</p>
                    </address>
                </div>
            </div>
        </div>
    </div>
 </div>
{% endblock %}

{% block scripts %}
    <script src="/static/catalog/js/contact.js"></script>
{% endblock %}
