{% extends 'catalog/base.html' %}
{% load i18n %}
{% load catalog_extras %}

{% block meta_info %}
    <meta name="description" content="{{ pages_meta_description }}">
    <meta name="keywords" content="{{ pages_meta_keywords }}">
    <title>{% trans 'Products' %} | {{ pages_title }}</title>
{% endblock %}

{% block styles %}
	<link href="/static/catalog/css/prettyPhoto.css" rel="stylesheet">
{% endblock %}

{% block current_page-filter %}
    class="active"
{% endblock %}

{% block main %}
	<section>
		<div class="container down">
			<div class="row">
                {% render_filters filters_list %}
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">{% trans 'Items' %}</h2>
                        {% render_clothes_grid clothes %}
						<div class="clearfix"></div>
                        {% render_pagination page_num pages_num %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block scripts %}
	<script src="/static/catalog/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            $("a[rel^='prettyPhoto']").prettyPhoto({
                animationSpeed: 'normal',
                opacity: 0.80,
                showTitle: true,
                social_tools: ''
			});
        });
    </script>
{% endblock %}
